#map {
	width: 100%;
	height: 100%;
	border: 1px solid silver;
	background: #E6E6E6;
	float: left;
}

#tooltip {
	position: absolute;
	z-index: 1;
	background: rgb(248, 245, 245);
	border-radius: 4px;
	width:auto;
	height: auto;
	color: rgb(3, 3, 3);
	font-size: 8px;
	padding: 3px;
	top: -10px;
	left: -10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

#tooltip p {
	margin: 0;
}

#tooltip p.value {
	font-weight: bold;
}

/*#details  {
  margin-top: 2rem;
  float: right;
  overflow: hidden;
}
#initial {
	font-size: 1.2rem;
	float: left;
}*/

#legend {
	border: 1px solid silver;
	border-top: 0;
  }
  
  .legend-key path {
	display: none;
  }
  
  .legend-key text {
	font-size: 1rem;
  }
  
  .legend-key line {
	stroke: #000;
	shape-rendering: crispEdges;
  }

